/* Lembrando que o estilo do cabeçalho está sendo reutilizado através do style.css, que importa o css da home e consume tudo em um único arquivo. A class do header da home e calendar, são as mesmas */

#calendar-header {
    height: 11.3%;
    display: flex;
    justify-content: space-between;
    padding: 48px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #667BC6;
    border-radius: 0px 0px 16px 16px;
}

#calendar_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#calendar-page-name {
    color: white;
    font-size: 28px;
    font-weight: 900;
}

#calendar_add-new-event {
    width: 100% !important;
}

#add-event-text {
    font-size: 16px;
}

#new-event-anchor {
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: white;
}

/* Container de eventos */
.event-container {
    width: 80%;
    height: 23.8%;

    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;

    border: 1px solid #667BC650;
    border-radius: 12px;

    scrollbar-width: none;
    overflow-y: auto;
}

.event-container__event {
    width: 90%;
    height: 27%;
    margin: 12px;

    display: flex;
    flex-direction: column;
}

.event-container__event__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-container__event__title-date-desc {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.title-date-desc__title-date {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

.title-date-desc__title-date__date {
    font-size: 10px;
    font-weight: 500;
    width: 80%;
}

.title-date-desc__desc {
    font-size: 12px;
    font-weight: 400;
}

.event-container__event__hour__hour {
    color: #667BC6;
    font-weight: 600;
}

.div-row {
    width: 100%;
    height: 1px;
    margin-top: 8px;
    background-color: #667BC650;
}

.c_show-days {
    width: 90%;
    height: 30%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 20px;
}

#calendar-day-list {
    height: 70% !important;
    
}

.task-card__task-name {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

/* Nav Bar */
#container-menu-calendar-item {
    position: relative;
    bottom: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.anchor-calendar-weekdays {
    color: #667BC6;
    text-decoration: none;
    padding: 5px;
}

.button-edit-task {
    border: none;
    background-color: #fff;
    color: #ffffff;
}

.button-edit-task-img {
    width: 24px;
    height: 24px;
}