@import url('reset.css');
@import url('signup-login.css');
@import url('home.css');
@import url('calendar.css');
@import url('form.css');
@import url('popup.css');
@import url('eventPopup.css');
@import url('completedTaskPopup.css');
@import url('weekday.css');
@import url('settings.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    box-sizing: border-box;
    height: 100vh; /* Garantir que o corpo e o html ocupem toda a altura da tela */
}

body {
    font-family: Poppins, "sans-serif";
}
